#parametersdiv {
    /*border-style: inset*/
    margin-top:10px;
    flex: 1 1 auto;
    overflow: auto;
    padding-left:0px !important;
}

#container {
    display:flex;
    flex-direction:column;
    height: 100%
}

#operationsdiv {
    flex: 0 1 auto;
}


